
@import "normalize";
@import "type";

:root {
  --dark: #333333;
  --blue: #08072e;
  --secondary-dark: #363948;
}
body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  font-family: $primary_font;
  font-size: 1.5rem;
  line-height: 1.1;
  background-color: gray;
  color: white;
  a { color: beige; }

  @media (prefers-color-scheme: light) {
    color: var(--dark);
    background-color: beige;
    a { color: darkolivegreen; }
  }
}

iframe[src*="youtube"] {
  height: 100vh;
  width: 100vw;
}

header {}

.wrapper {
  margin: 10% 10% 0;
}

main {
  .seperatorFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .centeredFlex {
    align-items: center;
    justify-content: center;
    display: flex;
  }
}

.content {}

ul {
  padding: 0 1.4rem;
}
footer {}
