
@import "normalize";
@import "type";

:root {
  --dark: #333333;
  --light-blue: #51c1d5;
  --secondary-dark: #363948;

  --slot3: #db961e;
  --slot4: #9068fb;
  --slot5: #3800e7;
}
body {
  overflow-x: hidden;
  width: calc(99.5vw - 6px);
  margin: 0;
  font-family: $primary_font;
  font-size: 1.5rem;
  line-height: 1.1;
  background-image: linear-gradient(230deg,var(--light-blue) ,var(--secondary-dark) 50%);
  color: white;
  border-image: linear-gradient(to bottom right, #ff0 0%, #65ca76 30%, #009ead 66%, #4cdae8 100%, #4cdae8);
  border-style: solid;
  border-image-slice: 1;
  border-image-width: 3px;
  a { color: white; }

  @media (prefers-color-scheme: light) {
    color: var(--dark);
    background-image: linear-gradient(230deg,var(--light-blue) ,white 50%);
    a { color: var(--dark); }
  }
}

header {}

main {}

.content {
  padding: 4.5%;
  // margin: 0 auto;
  width: 75%;
}

footer {}
