  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>It me! Your favorite person in the world</title>
  <meta name="description" content="Alfred K | website developer">
  <meta name="keywords" content="alfredk.com | website developer">
  <link rel="icon" type="image/png" href="favicon.ico" />
  <!-- Mobile Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <!-- Social Meta -->
  <meta property="og:title" content="Alfred K">
  <meta property="og:description" content="Alfred K your | website developer">
  <meta property="og:image" content="link this to article featured image">
  <meta property="og:url" content="URL of this page">
  <meta property="og:site_name" content="Alfred K your | website developer">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image:alt" content="Alt text for image">
  <meta name="theme-color" content="#d00ceb">
  <!-- Stylesheets -->

  <!-- <script src="app.js"></script> -->
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-40116109-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-40116109-1');
  </script>